build/*
build.xml
manifest.mf
*.class
nbproject/private/private.xml
/dist/
2016-04-01 16.49.45.jpg
nbproject/private/*
nbproject/private/private.properties
nbproject/project.properties
*.properties
Loans screen.png
nbproject/*